* {
    border: 1px solid black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* display: grid;
    grid-template-columns: 1fr;
    justify-items: center; */
}

div#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;

    /* display: grid;
    grid-template-columns: 1fr;
    justify-items: center; */

    border: 2px solid blue;
    background-color: gold;
}

h1 {
    color: purple;
}

p {
    color: red;
}