* {
    border: 1px solid black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    background-color: gold;
}

h1 {
    color: purple;
}

p {
    color: red;
}